@page "/"

<h1>Welcome the Watcher </h1>
<h2>Your personal second pair of eyes</h2>

<p>This site is made for keeping track on everything for you. </p>

<ul>
    <li>Go check out all the services</li>
    <li>Add items of interest</li>
    <li>Monitor the daily updates</li>
    <li>Keep track of your items</li>
    <li>Receive notifications</li>
    <li>Add third party communication channels</li>
</ul>


@* Make items selectable with links to the other pages *@ 
