@page "/pricerunner"
@using MyWatcher.Models
@using MyWatcherFrontend.Services
@using MyWatcher.Entities
@using MyWatcherFrontend.Components
@inject HttpClient Http
@inject IApiService _apiService

<h1>Pricerunner Items</h1>
<p>The following table shows all the items you track</p>
@if (_items == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <UserItemTable @ref=@_userItemTable UserItemTableList=@_items/>
}

@code {
    private List<UserItemTableDTO> _items = new List<UserItemTableDTO>();
    private UserItemTable _userItemTable;
    private User _user = new User() {Id = 1};

    protected override async Task OnInitializedAsync()
    {
        _userItemTable = new UserItemTable();
        _items = await _apiService.GetUserItems(_user);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }
    }
}