@page "/login"
@using System.ComponentModel.DataAnnotations
@using System.Text.RegularExpressions
@using MyWatcher.Models.User
@using MyWatcherFrontend.Services
@inject IApiService _apiService;

<h3>Login</h3>

<div style="max-width: 400px;">
    <MudCard>
        <MudCardContent>
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                <MudTextField T="string" Label="Email" Required="true" RequiredError="Email is required!"
                              Reguired="true" @ref="_email"/>
                <MudTextField T="string" Label="Password" HelperText="Choose a strong password" @ref="_password"
                              InputType="InputType.Password"
                              Required="true"
                              RequiredError="Password is required!"/>
            </MudForm>
            <MudText Class="pa-4 mud-secondary-text">@_error</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto" OnClick="LoginAsUser">Register</MudButton>
        </MudCardActions>
    </MudCard>
</div>


@code {
    bool success;
    string[] errors = { };
    string _error = "";
    MudTextField<string> _email;
    MudTextField<string> _password;
    MudForm form;

    private async Task LoginAsUser()
    {
        var dto = new UserLoginDTO()
        {
            Email = _email.Value,
            Password = _password.Value
        };
        var user = await _apiService.LoginUser(dto);
        if (user == null) _error = "Wrong username or password";
        else
        {
            //set user in memcache
            //redirect
        }
    }
}