@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject AuthenticationStateProvider _authenticationStateProvider
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="logout">Log out</NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="register">Register</NavLink>
                    <NavLink class="nav-link" href="login">Login</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>